<script>
     function create_thread_paypal(event){
            $("#payment-method").val("paypal")
            // $("#thread-creation-form").submit()
            var form = document.querySelector("#thread-creation-form")
            var price= form.children[0].children[1].value
            if (price <= 4000 && price >=100){
            var privacy = form.children[1].children[1].value
            var password= form.children[2].children[1].value
            var payment_method="paypal"
            $.ajax({
                url:"{% url 'create-thread' %}",
                method:"POST",
                data:{
                    "csrfmiddlewaretoken":"{{ csrf_token }}",
                    "price": price,
                    "privacy":privacy,
                    "password":password,
                    "payment_method":payment_method,
                },
                success:function(e){
                    console.log(e,status)
                   // CallHome()
                //window.location="/home/"
                        setTimeout(function() {
  //your code to be executed after 1 second
}, 3000);
                        MakeThread(e.thread)
                        $('#createModal').modal('hide');
                        //location.reload()
                    return false;
                    }

            })
           //CallHome()
}}
function create_thread_stripe(event){
            $("#payment-method").val("stripe")
            var form = document.querySelector("#thread-creation-form")
            var price= form.children[0].children[1].value
            if (price <= 4000 && price >=100){
            var privacy = form.children[1].children[1].value
            var password= form.children[2].children[1].value
            var payment_method="stripe"
            $.ajax({
                url:"{% url 'create-thread' %}",
                method:"POST",
                data:{
                    "csrfmiddlewaretoken":"{{ csrf_token }}",
                    "price": price,
                    "privacy":privacy,
                    "password":password,
                    "payment_method":payment_method,
                },
                success:function(e){
                    console.log(e,status)
                    // alert(e.message)

                    if ( e.message.substring(0,5) == "Our o" ){
                        alert(e.message)

                        CallHome()
                            return false
                        // document.querySelector("#message-modal").innerText=e.message
                        // $('#exampleModalCenter').modal('show');
                    }
                    else if (e.message == "CardInput"){
                        window.location.href="{% url 'CardInput' %}"
                            return false
                    }
                    else{

                        CallHome()
                            return false
                    }

                    window.location="{% url 'home' %}"
                },
                error:function(data){
                    document.querySelector("#message-modal").innerText=data.message
                    $('exampleModalCenter').modal('show');
                    CallHome()

                }
            });
            }}

</script>